%ul.dropdown.menu{ 'data-dropdown-menu' => '' }
  %li
    %a{ href: '#' } Item 1
    %ul.menu
      %li
        %a{ href: '#' } Item 1A
  %li
    %a{ href: '#' } Item 2
  %li
    %a{ href: '#' } Item 3
  %li
    %a{ href: '#' } Item 4

= link_to 'Angular', '#', class: 'button'
.container
  %h1
    My Shop
  .row
    .small-12.column
      .shopContainer
