.row
  .small-6.columns
    %h1 Welcome
  .small-6.column
    = link_to 'Viktor', viktor_path, class: 'button'
    = link_to 'Vasiliy', vasiliy_path, class: 'button'
    = link_to 'Ihor', ihor_path, class: 'button'
    = link_to 'Kris',  kris_path, class: 'button'