.topBar {
  .searchMenu input, .searchMenu button {
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    font-size: 14px;
  }
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

html {
  font-family: Lato;
  a, h1, h2, h3, h4, .top-bar-section ul li > a {
    font-family: Lato;
  }
}
