.topBar {
  .searchMenu input, .searchMenu button {
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    font-size: 14px;
  }
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

html {
  font-family: Lato;
  a, h1, h2, h3, h4, .top-bar-section ul li > a, button, .button {
    font-family: Lato;
  }
}

.field_with_errors {
  label {
    color: #f04124;
  }
  input {
    margin-bottom: 0;
  }
}
.field em {
  font-size: 0.8em;
}

.device_page h2 {
  font-size: 2em;
}
body {
  position: relative;
  .flashContainer {
    position: fixed;
    top: 50px;
    right: 12px;
    z-index: 100;
    .alert-box {
      margin-bottom: 10px;
      a:not(.close){
        color: #fff;
        text-decoration: underline;
      }
      .close {
        color: white;
        opacity: 0.7;
        padding-right: 1px;
      }
    }
  }
}

.topSearchForm {
  a.button {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;

    @media only screen and (max-width: 40em) {
      top: 0;
    }
  }
  input, a.button {
    height: 28px;
  }
}
