@import "icomoon.css";
@import "foundation-icons/foundation-icons.css";
@import "foundation.css";
@import "viktor/layout";

html, body, .main {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.main {
  padding-top: 45px;
  margin-bottom: -33px;
}

footer {
  .panel {
    margin-bottom: 0px;
    padding: 3px;
  }
}